:root {
  --nbc: linear-gradient(red, rgb(200, 0, 0));
  --bg: white;
  --text: black;
  --active: rgb(113, 170, 255); 
}



body {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  background-color: var(--bg);
}

.nav {
  position: relative;
  padding: 0.5%;
  margin: 0px;
  background: var(--nbc);
  text-align: left;
  transform: translateY(-70%);
}

.navb {
  transition-duration: 0.2s;
  padding: 1%;
  text-align: left;
  text-decoration: none;
  display: inline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 150%;
}

.navb:hover {
  text-shadow: rgb(218, 218, 218) 0px 0px 10px;
  transition-duration: 0.2s;
}

.navb:active {
  text-shadow: white 0px 0px 10px;
  transition-duration: 0s;
}

li {
  list-style: none;
}

.text {
  color: var(--text);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1%;
  margin: 1%;
  font-size: 120%;
}

.mnav {
  text-align: right;
  padding: 0.5%;
  margin: 0px;
  background: var(--nbc);
  z-index: 1;
}

.dmm {
  padding: 5px;
  margin: 0px;
  border: none;
  background-color: var(--nbc);
  transition-duration: 0.3s;
  z-index: 3;
}

.dmm:active {
  transition-duration: 0s;
  background-color: var(--active);
}

.mobilenav {
  padding: 5px;
  margin: 0px;
  border: none;
  background-color: var(--nbc);
  transform: translateY(-100%);
  transition-duration: 0.3s;
  z-index: 2;
}

.mobilenav:active {
  transition-duration: 0s;
  background-color: var(--active);
}

h1 {
  color: var(--text);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1%;
  margin: 1%;
  font-size: 250%;
}

h2 {
  color: var(--text);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1%;
  margin: 1%;
  font-size: 210%;
}

@media (max-width: 800px) {
  .navb {
    font-size: 130%;
  }
}

@media (max-width: 750px) {
  .navb {
    font-size: 110%;
  }
}

@media (max-width: 630px) {
  .navb {
    transform: translateY(-800%);
    transition-duration: 0s;
    display: block;
    background: var(--nbc);
    color: white;
    padding: 8%;
    width: 300%;
    height: 500%;
    font-size: 120%;
  }
  .nav {
    transform: translateY(-25px);
    transform: translateX(-45px);
    background-color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    padding: 0px;
    margin: 0px;
    position: fixed;
  }
  .mobilenav {
    transform: translateY(0px);
  }
  .text {
    font-size: 110%;
  }
}